@font-face {
    font-family: "CooperHewitt-Book";
    src: url("fonts/CooperHewitt-WebFonts-public/CooperHewitt-Book.woff") format('woff');
    font-weight: normal;
}

@font-face {
    font-family: "CooperHewitt-BookItalic";
    src: url("fonts/CooperHewitt-WebFonts-public/CooperHewitt-BookItalic.woff") format('woff');
    font-weight: normal;
}

@font-face {
    font-family: "CooperHewitt-Medium";
    src: url("fonts/CooperHewitt-WebFonts-public/CooperHewitt-Medium.woff") format('woff');
    font-weight: normal;
}

@font-face {
    font-family: "CooperHewitt-Bold";
    src: url("fonts/CooperHewitt-WebFonts-public/CooperHewitt-Bold.woff") format('woff');
    font-weight: normal;
}

@font-face {
    font-family: "CooperHewitt-Semibold";
    src: url("fonts/CooperHewitt-WebFonts-public/CooperHewitt-Semibold.woff") format('woff');
    font-weight: normal;
}

body, html {
    background-color: #F2F2F2;
    height: 100%;
}

#content {
}

nav {
  width: 100%;
  background: #222;
  color: #fff;
  font-family: "CooperHewitt-Book";
  letter-spacing: 0.13em;
  text-transform: uppercase;
}

.navbar {
  margin-bottom: 7px;
}

nav div.active-menu {
  height: 200px;
}

nav h1 {
  font-family: "CooperHewitt-Bold";
  font-size: 0.8em;
  margin-top: 5px;
}

nav h2 {
  font-size: 0.8em;
  margin-top: 5px;
}

nav h2 .selection {
  font-weight: bold;
  color: #999;
}


nav h3 {
  font-size: 0.8em;
  color: #999;
  margin-top: 5px;
}

nav h4 {
  font-size: 0.6em;
  color: #999;
  margin-top: 5px;
}

nav h4 .active {
  font-weight: bold;
  color: #fff;
}

nav #headline, nav #search {
  height: 30%;
}

nav #info, nav #links {
  height: 70%;
}

nav #filter, nav #monitor {
  height: 20%;
}

nav #filter-settings {
  height: 80%;
}

nav #timerange {
  height: 50%;
}

nav #zoom {
  height: 50%;
}

nav #total {
  height: 60%;
}

nav #detail {
  height: 20%;
}

nav input {
  background: #000;
  border: 1px solid;
}

nav .box {
  border-left: 2px solid #111;
  border-top: 2px solid #111;
}

nav > div > .row {
  height: 100%;
}
nav .row > div {
  height: 100%;
}

#map {
  margin-left: 7px;
  display: block;
}

rect {
  cursor: pointer;
  fill: #ffffff;
}

rect.selected {
  fill: #ccc;
}

text {
  font-family: "CooperHewitt-Medium";
  text-transform: uppercase;
  letter-spacing: 0.13em;
  text-anchor: middle;
}

text.font-none {
  display: none;
}

text.font-xs {
  font-size: 8px;
}

text.font-s {
  font-size: 12px;
}

text.font-m {
  font-size: 16px;
}

text.font-l {
  font-size: 20px;
}

text.font-xl {
  font-size: 24px;
}
