<div>
  <label>Name:</label>
  <input type="text" ng-model="yourName" placeholder="Enter a name here">
  <hr>
  <h1>Hello {{yourName}}!</h1>
  <table>
    <tr>
      <th>Host</th>
      <th>Visited_at</th>
      <th>Duration</th>
      <th>Aktive</th>
    </tr>
    <tr ng-repeat="visit in visits">
      <td class="host"><a href="" ng-click="update_selection()">{{visit.host}}</a></td>
      <td>{{visit.visited_at}}</td>
      <td>{{visit.duration}}</td>
      <td>{{visit.active}}</td>
    </tr>
  </table>
</div>
