<!doctype html>
<html ng-app="trckyrslfApp">
  <head>
    <script src="vendor/js/angular/angular.min.js"></script>
    <script src="vendor/js/angular-animate/angular-animate.min.js"></script>
    <script src="vendor/js/angular-route/angular-route.min.js"></script>
    <script src="vendor/js/angular-resource/angular-resource.min.js"></script>
    <script src="vendor/js/angularjs-slider/rzslider.min.js"></script>
    <script src="vendor/js/jquery/jquery.min.js"></script>
    <script src="vendor/js/d3/d3.min.js"></script>
    <script src="js/trckyrslf.js"></script>
    <link rel="stylesheet" href="vendor/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/trckyrslf.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top" ng-controller="SelectionController">
      <div class="container-fluid inactive-menu" ng-hide="menu">
        <button ng-click="menu=true">Show</button>
      </div>
      <div class="container-fluid active-menu" ng-show="menu">
        <div class="row">
          <div class="col-md-1">
            <div class="row box" id="headline"><h1>Trck.yrslf</h1></div>
            <div class="row box" id="info">
              <a>
                <svg version="1.1" id="infoButton" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="42px" height="42px" viewBox="8.875 8.875 42 42" enable-background="new 8.875 8.875 42 42" xml:space="preserve">
                <g>
                  <path fill="none" stroke="#FFFFFF" stroke-width="1.2424" d="M29.875,50.375c11.303,0,20.501-9.197,20.501-20.5 c0-11.303-9.198-20.5-20.501-20.5c-11.303,0-20.499,9.196-20.499,20.5C9.376,41.178,18.572,50.375,29.875,50.375z"/>
                </g>
                </svg>
                <h2>Info</h2>
              </a>
            </div>
           </div>
          <div class="col-md-5">
            <div class="row box" id="filter"><h2>Filter</h2></div>
            <div class="row" id="filter-settings">
              <div class="col-sm-2 box">
                <a href="" ng-click="filter=!filter">
                <div id="switch-wrapper">
                  <h2>On</h2>
                  <svg version="1.1" id="Hide" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="42.375px" height="64.167px" viewBox="-0.375 0 42.375 64.167" enable-background="new -0.375 0 42.375 64.167" xml:space="preserve">
                    <g>
                      <path fill="none" stroke="#FFFFFF" stroke-width="1.2052" d="M41.287,20.885C41.1,9.749,31.979,0.746,20.8,0.746 c-11.214,0-20.353,9.056-20.487,20.237c0,0.085,0,22.171,0.001,22.281C0.492,54.41,9.612,63.421,20.8,63.421 c11.194,0,20.319-9.021,20.489-20.176L41.287,20.885z"/> 
                      <path ng-show="filter" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="1.2052" d="M41.313,21.234c0,11.297-9.191,20.488-20.487,20.488 c-11.299,0-20.488-9.191-20.488-20.488S9.526,0.748,20.825,0.748C32.121,0.748,41.313,9.938,41.313,21.234"/>
                      <path ng-hide="filter" fill="none" stroke="#FFFFFF" stroke-width="1.2052" d="M0.313,42.933c0-11.297,9.191-20.488,20.487-20.488 c11.299,0,20.488,9.191,20.488,20.488c0,11.297-9.189,20.486-20.488,20.486C9.504,63.419,0.313,54.23,0.313,42.933"/>
                    </g>
                  </svg>
                  <h2>Off</h2>
                </div>
                </a>
              </div>
              <div class="col-sm-2 box" ng-class="{disabled: !filter}">
                <a>
                  <div id="switch-wrapper">
                  <h2>Show</h2>
                  <svg version="1.1" id="Hide" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="42.375px" height="64.167px" viewBox="-0.375 0 42.375 64.167" enable-background="new -0.375 0 42.375 64.167" xml:space="preserve">
                    <g>
                      <path fill="none" stroke="#FFFFFF" stroke-width="1.2052" d="M41.287,20.885C41.1,9.749,31.979,0.746,20.8,0.746 c-11.214,0-20.353,9.056-20.487,20.237c0,0.085,0,22.171,0.001,22.281C0.492,54.41,9.612,63.421,20.8,63.421 c11.194,0,20.319-9.021,20.489-20.176L41.287,20.885z"/> 
                      <path ng-show="filter" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="1.2052" d="M41.313,21.234c0,11.297-9.191,20.488-20.487,20.488 c-11.299,0-20.488-9.191-20.488-20.488S9.526,0.748,20.825,0.748C32.121,0.748,41.313,9.938,41.313,21.234"/>
                      <path ng-hide="filter" fill="none" stroke="#FFFFFF" stroke-width="1.2052" d="M0.313,42.933c0-11.297,9.191-20.488,20.487-20.488 c11.299,0,20.488,9.191,20.488,20.488c0,11.297-9.189,20.486-20.488,20.486C9.504,63.419,0.313,54.23,0.313,42.933"/>
                    </g>
                  </svg>
                  <h2>Work</h2>
                </div>
                </a>
              </div>
              <div class="col-sm-2 box" ng-class="{disabled: !filter}">
                <a>
                  <div id="switch-wrapper">
                  <h2>Show</h2>
                  <svg version="1.1" id="Hide" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="42.375px" height="64.167px" viewBox="-0.375 0 42.375 64.167" enable-background="new -0.375 0 42.375 64.167" xml:space="preserve">
                    <g>
                      <path fill="none" stroke="#FFFFFF" stroke-width="1.2052" d="M41.287,20.885C41.1,9.749,31.979,0.746,20.8,0.746 c-11.214,0-20.353,9.056-20.487,20.237c0,0.085,0,22.171,0.001,22.281C0.492,54.41,9.612,63.421,20.8,63.421 c11.194,0,20.319-9.021,20.489-20.176L41.287,20.885z"/> 
                      <path ng-show="filter" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="1.2052" d="M41.313,21.234c0,11.297-9.191,20.488-20.487,20.488 c-11.299,0-20.488-9.191-20.488-20.488S9.526,0.748,20.825,0.748C32.121,0.748,41.313,9.938,41.313,21.234"/>
                      <path ng-hide="filter" fill="none" stroke="#FFFFFF" stroke-width="1.2052" d="M0.313,42.933c0-11.297,9.191-20.488,20.487-20.488 c11.299,0,20.488,9.191,20.488,20.488c0,11.297-9.189,20.486-20.488,20.486C9.504,63.419,0.313,54.23,0.313,42.933"/>
                    </g>
                  </svg>
                  <h2>Leisure</h2>
                </div>
                </a>
              </div>
              <div class="col-sm-6">
                <div class="row box" id="timerange">
                  <h3>Time range</h3>
                  <rzslider class="timerange"
                    rz-slider-model="sliderTimeRange.minValue"
                    rz-slider-high="sliderTimeRange.maxValue"
                    rz-slider-options="sliderTimeRange.options">
                  </rzslider>
                </div>
                <div class="row box" id="zoom">
                  <h3>Zoom</h3>
                    <rzslider
                      rz-slider-model="zoom.value"
                      rz-slider-options="zoom.options">
                    </rzslider>
                    <div id="triangle">
                      <div id="triangle-white"></div>
                      <div id="triangle-grey"></div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row box" id="monitor"><h2>Monitor <span class="selection" ng-bind="host|host">Nothing selected</span></h2></div>
            <div class="row" id="total">
              <div class="col-xs-4 box">
                <h3>Share</h3>
                <p ng-bind="timings.share|perc">0%</p>
              </div>
              <div class="col-xs-4 box">
                <h3>hrs</h3>
                <p ng-bind="timings.active|hrs">0</p>
              </div>
              <div class="col-xs-2 box">
                <h3>mins</h3>
                <p ng-bind="timings.active|min">0</p>
              </div>
              <div class="col-xs-2 box">
                <h3>secs</h3>
                <p ng-bind="timings.active|sec">0</p>
              </div>
            </div>
            <div class="row" id="detail">
              <div class="col-xs-4 box">
                <h4><!--<span class="active">Total</span> /-->
                    <span class="inactive">Inactive Tab</span></h4>
              </div>
              <div class="col-xs-4 box">
                <h4><!--<span class="active" ng-bind="timings.total|hrs">0</span> /-->
                    <span class="inactive" ng-bind="timings.inactive|hrs">0</span></h4>
              </div>
              <div class="col-xs-2 box">
                <h4><!--<span class="active" ng-bind="timings.total|min">0</span> /-->
                    <span class="inactive" ng-bind="timings.inactive|min">0</span></h4>
              </div>
              <div class="col-xs-2 box">
                <h4><!--<span class="active" ng-bind="timings.total|sec">0</span> /-->
                    <span class="inactive" ng-bind="timings.inactive|sec">0</span></h4>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="row box" id="search">
              <h2>Search</h2>
              <input ng-model="term" ng-change="search(term)"></input>
            </div>
            <div class="row" id="links">
              <div class="col-xs-6 box">
                <a ng-click="menu=false">
                  <svg version="1.1" id="hide" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="42px" height="42px" viewBox="8.875 8.875 42 42" enable-background="new 8.875 8.875 42 42" xml:space="preserve">
                    <g>
                      <g>
                        <path fill="none" stroke="#FFFFFF" stroke-width="1.2424" stroke-miterlimit="10" d="M29.874,50.375 c11.303,0,20.501-9.197,20.501-20.5c0-11.305-9.198-20.5-20.501-20.5c-11.303,0-20.499,9.195-20.499,20.5 C9.375,41.178,18.571,50.375,29.874,50.375z"/>
                      </g>
                      <polygon fill="#FFFFFF" points="13.401,41 14.357,42.408 29.028,27.734 29.028,50.224 30.721,50.224 30.721,27.734 45.378,42.396 46.347,41 29.874,24.525   "/>
                    </g>
                  </svg>
                  <h2>Hide</h2>
                </a>
               </div>
              <div class="col-xs-6 box">
                <a>
                  <svg version="1.1" id="cmpr" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="42px" height="42px" viewBox="8.875 8.875 42 42" enable-background="new 8.875 8.875 42 42" xml:space="preserve">
                    <circle fill="#FFFFFF" stroke="#222222" stroke-width="1.4333" cx="29.875" cy="29.875" r="21.5"/>
                    <polygon fill="#222222" points="9.694,22.365 35.995,22.365 14.304,44.057 15.694,45.445 37.384,23.753 37.384,49.89 39.33,49.024 39.33,20.42 10.71,20.42 "/>
                  </svg>
                  <h2>Cmpr yrslf</h2>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div id="content" ng-view></div>
  </body>
</html>
